#menu{
    display: flex;
    justify-content: center;
}
#menu li{
    background-color: rgb(255, 201, 150);
    margin: 5px;
    list-style-type: none;
    display: inline;
}
a{
    color: rgb(68, 36, 0);
}
#menu1 div{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 253, 150);
    color: rgb(146, 66, 0);
    margin: 20px;
}
