a:hover{
    color: white;
    background-color: black;
}
a:active{
    color: white;
    background-color: white;
}
#one {
    background-color: black;
    color: yellow;
}
#two {
    background-color: blue;
    color: white;
}
#for:hover {
    background-color: lightcoral;
}