#podval{
    color: aliceblue;
    display: flex;
    justify-content: center;
    background-color: black;
}
#podval div{
    width: 100%;
    margin: 10px;
    background-color: blueviolet;
    padding: 5px;
}

#podval div h4{
    text-align: center;
}