#pers{
    margin-top: 10px;
    padding: 1px;
    border-radius: 10px;
    background-color: rgba(37, 37, 37, 0.658);
    color: white;
}
#pers h1{
    margin: 10px;
    font-size: 2em;
}
#pers p{
    margin: 10px;
}
#image{
    text-align: center;
}
#image img{
    margin: 10px;
}